
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- SLIDER SECTION START -->
    <section id="main-home">
        <div class="slideshow">
            <div class="slides">
                <img class="slide"
                     src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-slider-background.jpg"
                     alt="flowers">
                <div class="text">
                    <h2>
                        Send <span class="red">flowers</span> like <br>
                        you mean it.
                    </h2>
                    <p>
                        Where flowers are our inspiration to create lasting memories.
                        Whatever the occasion, our flowers will make it special cursus a sit amet mauris.
                    </p>
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h2-sign-img.png"
                         alt="signature">
                </div>
            </div>
            <div class="slides">
                <img class="slide"
                     src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-slider-background-2.jpg"
                     alt="cactus">
                <div class="text">
                    <h2>
                        Send <span class="red">flowers</span> like <br>
                        you mean it.
                    </h2>
                    <p>
                        Where flowers are our inspiration to create lasting memories. Whatever the occasion, our
                        flowers will make it special cursus a sit amet mauris.
                    </p>
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h2-sign-img.png"
                         alt="signature">

                </div>
            </div>
            <div class="slides">
                <img class="slide"
                     src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-slider-background-3.jpg"
                     alt="bouquet">
                <div class="text">
                    <h2>
                        Send <span class="red">flowers</span> like <br>
                        you mean it.
                    </h2>
                    <p>
                        Where flowers are our inspiration to create lasting memories. Whatever the occasion, our
                        flowers will make it special cursus a sit amet mauris.
                    </p>
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h2-sign-img.png"
                         alt="signature">
                </div>
            </div>
        </div>
    </section>
    <!-- SLIDER SECTION END -->
    <!-- FILTER SECTION START -->
    <section id="filter">
        <div class="container">
            <div class="row">
                <div class="filter-menu">
                    <ul>
                        <li class="active" data-filter="*"><a href="#filter">All</a> </li>
                        <li data-filter=".cactuses"><a href="#filter">Cactuses</a></li>
                        <li data-filter=".exotic"><a href="#filter">Exotic</a></li>
                        <li data-filter=".greens"><a href="#filter">Greens</a></li>
                        <li data-filter=".popular"><a href="#filter">Popular</a></li>
                        <li data-filter=".various"><a href="#filter">Various</a></li>
                        <li data-filter=".winter"><a href="#filter">Winter</a></li>
                    </ul>

                </div>
                <div class="filter">
                    <ul>
                        <li><a href="#filter">FILTER <span><i class="fa-solid fa-caret-down"></i></span></a></li>
                    </ul>
                </div>
                <div class="cards">
                    <div class="card greens popular winter">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-14-img.jpg"
                                     alt="majesty-palm">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">MAJESTY PALM</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card winter popular">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-13-img.jpg"
                                     alt="foxglove">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">FOXGLOVE FLOWER</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card popular winter">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-10-img.jpg"
                                     alt="sweet alyssum">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">SWEET ALYSSUM</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card popular">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-11-img.jpg"
                                     alt="spring snowflake">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">SPRING SNOWFLAKE</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card popular">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-12-img.jpg"
                                     alt="scarlet">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">SCARLET SAGE</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card cactuses  various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-9-img.jpg"
                                     alt="rock">
                            </a>

                        </div>
                        <div class="info">
                            <div class="name">ROCK SOAPWORT</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card greens various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-8-img.jpg"
                                     alt="summer savory">
                            </a>

                        </div>
                        <div class="info">
                            <div class="name">SUMMER SAVORY</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card greens various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-4-img.jpg"
                                     alt="pink">
                            </a>

                        </div>
                        <div class="info">
                            <div class="name">PINK FLOWER TREE</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card exotic various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-7-img.jpg"
                                     alt="wild rose">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name"><a href="#filter">WILD ROSES</a> </div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card cactuses various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-5-img.jpg"
                                     alt="wild cactus">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">WILD CACTUS</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card cactuses various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img.jpg"
                                     alt="cactus">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">CACTUS IN ORANGE</div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card exotic various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-6-img.jpg"
                                     alt="tulips">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">
                                COLORFUL TULIPS
                            </div>
                            <div class="price">$259</div>
                        </div>
                    </div>
                    <div class="card exotic various">
                        <div class="image">
                            <a href="#filter">
                                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-2-img.jpg"
                                     alt="orange">
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">ORANGE AMARYLLIS</div>
                            <div class="price">$259</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- FILTER SECTION END -->
</main>

